.wrapper {
    p {
        color: white;
        font-size: 26px;
    }

    input {
        font-size: 24px;
        background-color: white;
        padding: 5px;
        margin: 5px 0;
        width: 100%;
        border-radius: 10px;
    }

    button {
        font-size: 26px;
        background-color: white;
        padding: 5px 10px;
        border-radius: 10px;
    }
}

.productCardHeader {
    font-size: 22px;
    font-weight: 600;
    color: white;
    line-height: 35px;
    text-align: center;
}

.select {
    display: block;
    font-size: 24px;
    background-color: white;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    border-radius: 10px;
}