.listItemWrapper {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 5px;
    margin-bottom: 15px;
    border-radius: 10px;

    &_inner {

    }

    &_title {
        font-size: 26px;
        line-height: 30px;
        // text-align: center;
    }
}