.viewCard {
    width: 100%;

    &_productPhoto {
        width: 300px;
        min-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            display: block;
            margin: 0 auto;
            padding: 10px;
        }
    }
    
    &_buttonChangeStatusCard {
        position: absolute;
        right: 20px;
        top: 20px;
        height: 30px;
        width: 30px;
        background-image: url('../../../../assets/icons/editCard.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    &_text {
        color: white;
        font-size: 26px;
    }
    &_header {
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.65);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    &_name {
        display: flex;
        font-size: 30px;
    }
    &_title {
        margin-right: 5px;
    }
    &_location, &_category, &_productDescription {
        font-size: 30px;
        background-color: rgba(255, 255, 255, 0.65);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        
    }
}
