.viewModeWrapper {
    
    &_header {
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.4);
        margin-bottom: 15px;

        img {
            cursor: pointer;
            width: 40px;
            height: 40px;
        }
    }
    
    &_title {
        font-size: 26px;
        line-height: 30px;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
    }
}