.wrapper {
    p {
        color: white;
    }

    input {
        background-color: white;
        padding: 5px;
        margin: 5px;
        width: 100%;
        border-radius: 10px;
    }

    button {
        background-color: white;
        padding: 5px 10px;
        border-radius: 10px;
    }
}